[submodule "pack/core/start/splitjoin.vim"]
	path = pack/core/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/AndrewRadev-pack"]
	path = pack/AndrewRadev-pack
	url = git@github.com:lgalke/AndrewRadev-pack.git
[submodule "pack/extra-pack"]
	path = pack/extra-pack
	url = git://github.com/lgalke/extra-pack.git
[submodule "pack/tpope-pack"]
	path = pack/tpope-pack
	url = git://github.com/lgalke/tpope-pack.git
